{% extends 'base.html' %}

{% block title %}JobForm{% endblock title %}

{% block custom_css %}

<style>
    :root {
        --uim-primary-opacity: 1;
        --uim-secondary-opacity: 0.70;
        --uim-tertiary-opacity: 0.50;
        --uim-quaternary-opacity: 0.25;
        --uim-quinary-opacity: 0;
    }

    .uim-svg {
        display: inline-block;
        height: 1em;
        vertical-align: -0.125em;
        font-size: inherit;
        fill: var(--uim-color, currentColor);
    }

    .uim-svg svg {
        display: inline-block;
    }

    .uim-primary {
        opacity: var(--uim-primary-opacity);
    }

    .uim-secondary {
        opacity: var(--uim-secondary-opacity);
    }

    .uim-tertiary {
        opacity: var(--uim-tertiary-opacity);
    }

    .uim-quaternary {
        opacity: var(--uim-quaternary-opacity);
    }

    .uim-quinary {
        opacity: var(--uim-quinary-opacity);
    }
</style>
{% endblock custom_css %}

{% block body %}
<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title"> Job Applying Form </h4>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a href="/">Landrick</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Job Apply</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<!-- Job apply form Start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-7">
                <div class="card custom-form border-0">
                    <div class="card-body">
                        <form class="rounded shadow p-4" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}

                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="submit" class="submitBnt btn btn-primary" value="Apply Now">
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>
                        <!--end form-->
                    </div>
                </div>
                <!--end custom-form-->
            </div>
        </div>
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Job apply form End -->


{% endblock body %}