{% extends 'base.html' %}

{% block title %}{{ request.user.username }}{% endblock title %}


{% block custom_css %}
<style>
    .customstyle {
        background-color: aqua !important;
        color: black;
        text-align: center;
        font-weight: 800;
    }

    .customstyle:hover {
        color: darkgoldenrod;
        font-weight: 800;
    }
    .custom_h3 {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
</style>

{% endblock custom_css %}

{% block body %}

<div class="row">

    <div class="col-md-2 pt-4"><br><br><br>
        <div class="list-group border border-warning">
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Username:</strong> {{ request.user.username }}
            </a>
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Email:</strong> {{ request.user.email }}
            </a>
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Last Login:</strong> {{ request.user.last_login }}
            </a>
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Date Joined:</strong> {{ request.user.date_joined }}
            </a>
        </div>
    </div>

    <div class="col-md-8">
        <h1 class="pt-4" style="text-align: center;">Your Application/s</h1>
        <div class="table-responsive pt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sr.No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Yrs Of Exp</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Hr Referal Code</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ job.user.first_name|title }} {{ job.user.last_name|title }}</td>
                        <td>{{ job.designation|title }}</td>
                        <td>{{ job.yrs_of_exp }}</td>
                        <td>{{ job.company_name|title }}</td>
                        <td>{{ job.referal_code }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}