{% extends 'base.html' %}

{% block title %}Job Listing{% endblock title %}

{% block body %}


{% if query %}
{% if results %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Yrs Of Exp</th>
        <th scope="col">Company Name</th>
        <th scope="col">Referal Code</th>
        {% if user.is_superuser %}
        <th scope="col">Send Mail</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>

    {% for job in results %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ job.user.first_name }} {{ job.user.last_name }}</td>
        <td>{{ job.designation }}</td>
        <td>{{ job.yrs_of_exp }}</td>
        <td>{{ job.company_name }}</td>
        <td>{{ job.referal_code }}</td>
        {% if user.is_superuser %}
        <td><a href="{% url 'sendmail' %}">Apply</a></th>
        {% endif %}
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

  {% else %}
  <h1 class="custom_h1">No Search result found....</h1>

{% endif %}
{% endif %}



{% endblock body %}