{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% include 'css.html' %}
    
    {% block custom_css %}{% endblock custom_css %}
</head>

<body style="overflow: visible;">
    {% include 'navbar.html' %}
    {% block body %}
    {% endblock body %}

    {% block custom_js %}{% endblock custom_js %}

    {% include 'js.html' %}
</body>

{% include 'footer.html' %}

</html>