{% load static %}

<!-- javascript -->
<script async="" src="https://www.google-analytics.com/analytics.js' %}"></script>
<script src="{% static 'hrapp/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'hrapp/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'hrapp/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'hrapp/js/scrollspy.min.js' %}"></script>
<!-- Icons -->
<script src="{% static 'hrapp/js/feather.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v2.1.9/script/monochrome/bundle.js"></script>
<!-- Switcher -->
<script src="{% static 'hrapp/js/switcher.js' %}"></script>
<!-- Main Js -->
<script src="{% static 'hrapp/js/app.js' %}"></script>
<script src="{% static 'hrapp/js/jquery.easing.min.js' %}"></script>